.env
.env.*
!.env.example

.idea/
.pytest_cache/
.mypy_cache/
.ruff_cache/
__pycache__/
*.py[cod]

venv/
.venv/

node_modules/
tmp_wheels/

*.db
*.sqlite3

.coverage
.coverage.*
htmlcov/

build/alembic/alembic/
build/alembic/versions/__pycache__/
build/load/results/
build/load/users.csv
